<div class="adminWrap" ng-controller="adminCtrl">
    <div class="topSection container-fluid">
        <h2>Dashboard</h2>
    </div>
    <!-- MAIN SECTION -->
    <main class="container-fluid" ng-if="profile.role == 'admin'">
        <div class="row">
            <!-- GENERAL INFO -->
            <div class="boxWrap col-12 col-md-6">
                <div class="dashbox d1">
                    <h3>General Info</h3>
                    <p class="edit" ng-click="edit = !edit" ng-init="!edit" ng-show="!edit">edit</p>
                    <p class="edit" ng-click="edit = !edit" ng-init="!edit" ng-show="edit">save</p>
                    <label>
                        <em>Main Title:</em>
                        <span ng-show="!edit">{{general.header}}</span>
                        <input type="text" name="" ng-model="general.header" placeholder="general.header" ng-show="edit">
                    </label>
                    <label>
                        <em>Hero Title: </em>
                        <span ng-show="!edit">{{general.hero.header}}</span>
                        <input type="text" name="" ng-model="general.hero.header" placeholder="general.hero.header" ng-show="edit">
                    </label>
                    <label>
                        <em>Hero Sub-Title: </em>
                        <span ng-show="!edit">{{general.hero.subheader}}</span>
                        <input type="text" name="" ng-model="general.hero.subheader" placeholder="general.hero.subheader" ng-show="edit">
                    </label>
                    <label>
                        <em>Location: </em>
                        <span ng-show="!edit">{{general.location}}</span>
                        <input type="text" name="" ng-model="general.location" placeholder="general.location" ng-show="edit">
                    </label>
                </div>
            </div>
            <!-- META DATA -->
            <div class="boxWrap col-12 col-md-6">
                <div class="dashbox d2">
                    <h3>Meta Data</h3>
                    <p class="edit" ng-click="edit1 = !edit1" ng-init="!edit1" ng-show="!edit1">edit</p>
                    <p class="edit" ng-click="edit1 = !edit1" ng-init="!edit1" ng-show="edit1">save</p>
                    <label>
                        <em>Title:</em>
                        <span ng-show="!edit1">{{meta.title}}</span>
                        <input type="text" name="" ng-model="meta.title" placeholder="meta.title" ng-show="edit1">
                    </label>
                    <label>
                        <em>Description: </em>
                        <span ng-show="!edit1">{{meta.description}}</span>
                        <input type="text" name="" ng-model="meta.description" placeholder="meta.description" ng-show="edit1">
                    </label>
                </div>
            </div>
            <!-- ADD USEFUL LINK-->
            <div class="boxWrap col-12 col-md-6">
                <div class="dashbox d6">
                    <h3>Useful Links</h3>
                    <input type="text" name="" ng-model="useful.name" placeholder="Title of Link">
                    <input type="text" name="" ng-model="useful.link" placeholder="HTTP Address">
                    <input type="text" name="" ng-model="useful.img" placeholder="/images/something.png">
                    <select ng-model="useful.type">
                        <option value="download">Download/CDN</option>
                        <option value="HTML">HTML</option>
                        <option value="CSS">CSS</option>
                        <option value="JS">JavaScript</option>
                        <option value="JQ">jQuery</option>
                        <option value="Bootstrap">Bootstrap</option>
                    </select>
                    <button ng-show="useful.name && useful.link && useful.img && useful.type" ng-click="createLink(useful); useful=null" class="btn1">Create Link</button>
                </div>
            </div>
            <!-- SECTIONS HOME -->
            <div class="boxWrap col-12 col-md-6">
                <div class="dashbox d3">
                    <h3>Sections Home</h3>
                    <p class="edit" ng-click="edit2 = !edit2" ng-init="!edit2" ng-show="!edit2">edit</p>
                    <p class="edit" ng-click="edit2 = !edit2" ng-init="!edit2" ng-show="edit2">save</p>
                    <p class="new">new</p>
                    <div class="miniSection" ng-repeat="section in sections">
                        <label>
                            <em>Title:</em>
                            <span ng-show="!edit2">{{section.header}}</span>
                            <input type="text" name="" ng-model="section.header" placeholder="section.header" ng-show="edit2">
                        </label>
                        <label>
                            <em>Sub-Title </em>
                            <span ng-show="!edit2">{{section.subheader}}</span>
                            <input type="text" name="" ng-model="section.subheader" placeholder="section.subheader" ng-show="edit2">
                        </label>
                        <label>
                            <em>Link </em>
                            <span ng-show="!edit2">{{section.link}}</span>
                            <input type="text" name="" ng-model="section.link" placeholder="section.link" ng-show="edit2">
                        </label>
                        <label>
                            <em>Image </em>
                            <span ng-show="!edit2">{{section.img}}</span>
                            <input type="text" name="" ng-model="section.img" placeholder="section.img" ng-show="edit2">
                        </label>
                    </div>
                </div>
            </div>
            <!-- MAJOR SECTIONS HOME -->
            <div class="boxWrap col-12 col-md-6">
                <div class="dashbox d3">
                    <h3>Major Sections Home</h3>
                    <p class="edit" ng-click="edit3 = !edit3" ng-init="!edit3" ng-show="!edit3">edit</p>
                    <p class="edit" ng-click="edit3 = !edit3" ng-init="!edit3" ng-show="edit3">save</p>
                    <p class="new">new</p>
                    <div class="miniSection" ng-repeat="section in major">
                        <label>
                            <em>Title</em>
                            <span ng-show="!edit3">{{section.header}}</span>
                            <input type="text" name="" ng-model="section.header" placeholder="section.header" ng-show="edit3">
                        </label>
                        <label>
                            <em>Sub-Title</em>
                            <span ng-show="!edit3">{{section.subheader}}</span>
                            <input type="text" name="" ng-model="section.subheader" placeholder="section.subheader" ng-show="edit3">
                        </label>
                        <label>
                            <em>Body</em>
                            <span ng-show="!edit3">{{section.body}}</span>
                            <textarea ng-model="section.body" placeholder="{{section.body}}" ng-show="edit3"></textarea>
                        </label>
                        <label>
                            <em>Link </em>
                            <span ng-show="!edit3">{{section.link}}</span>
                            <input type="text" name="" ng-model="section.link" placeholder="section.link" ng-show="edit3">
                        </label>
                        <label>
                            <em>Image </em>
                            <span ng-show="!edit3">{{section.img}}</span>
                            <input type="text" name="" ng-model="section.img" placeholder="section.img" ng-show="edit3">
                        </label>
                    </div>
                </div>
            </div>
            <!-- Term  -->
            <div class="boxWrap col-12 col-md-6">
                <div class="dashbox d7">
                     <p class="edit" ng-click="edit4 = !edit4" ng-init="!edit4" ng-show="!edit4">edit</p>
                    <p class="edit" ng-click="edit4 = !edit4" ng-init="!edit4" ng-show="edit4">save</p>
                    <h3>Term</h3>
                    <label>
                        <em>Start</em>
                        <span ng-show="!edit4">{{term.name}}</span>
                        <input type="text" name="" ng-model="term.name" placeholder="{{term.name}}" ng-show="edit4">
                    </label>
                    <label>
                        <em>End</em>
                        <span ng-show="!edit4">{{term.subtitle}}</span>
                        <input type="text" name="" ng-model="term.subtitle" placeholder="{{term.subtitle}}" ng-show="edit4">
                    </label>
                    <label>
                        <em>Name</em>
                        <span ng-show="!edit4">{{term.body}}</span>
                        <input type="text" name="" ng-model="term.body" placeholder="{{term.body}}" ng-show="edit4">
                    </label>
                    <label>
                        <em>Year</em>
                        <span ng-show="!edit4">{{term.year}}</span>
                        <input type="text" name="" ng-model="term.year" placeholder="{{term.year}}" ng-show="edit4">
                    </label>
                    <label>
                        <em>Holidays</em>
                        <span ng-show="!edit4">{{term.holidays}}</span>
                        <input type="text" name="" ng-model="term.holidays" placeholder="{{term.holidays}}" ng-show="edit4">
                    </label>
                    <label>
                        <em>Exceptions</em>
                        <span ng-show="!edit4">{{term.exceptions}}</span>
                        <input type="text" name="" ng-model="term.exceptions" placeholder="{{term.exceptions}}" ng-show="edit4">
                    </label>
                    <label>
                        <em>Total Weeks</em>
                        <span ng-show="!edit4">{{term.weeks}}</span>
                        <input type="text" name="" ng-model="term.weeks" placeholder="{{term.weeks}}" ng-show="edit4">
                    </label>
                </div>
            </div>
            <!-- Class Creator -->
            <div class="boxWrap col-12 col-md-6">
                <div class="dashbox d6">
                    <h3>Create a Class</h3>
                    <class></class>
                </div>
            </div>
            <!-- Quiz Creator -->
            <div class="boxWrap col-12 col-md-6">
                <div class="dashbox d5">
                    <h3>Create a quiz</h3>
                    <quiz></quiz>
                </div>
            </div>
            <!-- Student List -->
            <div class="boxWrap col-12 col-md-6">
                <div class="dashbox d4">
                    <h3>Student</h3>
                    <div class="studentList">
                        <div class="student" ng-repeat="student in students">
                            <p>{{student.username}}</p>
                            <label class="switch switch_type1" role="switch">
                                <input type="checkbox" class="switch__toggle" checked ng-model="student.student">
                                <span class="switch__label"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>