<div class="hero small"></div>
<div class="classesWrap">
    <div class="classIntro container">
        <h2>Classes</h2>
    </div>
    <div class="classSection c1">
        <div class="innerClass container">
            <div class="row">
                <h3 class="col-12">Young Coders: 6-8yrs</h3>
                <div class="classBox col-12 col-md-6 col-xl-4" ng-repeat="class in classes" ng-if="class.age == '6-8'">
                    <div class="innerClassBox">
                    	<div class="classImg" style="background-image:url({{class.img}})"></div>
                        <h4>{{class.name}}</h4>
                        <h5>{{class.subtitle}}</h5>
                        <p>{{class.body | limitTo: 100}}...</p>
                        <a href="#!/classPage" ng-click="pickClass(class)">Learn More</a>
                        <p class="classDay">{{class.day}}</p>
                        <a href="#!/signup">Sign Up</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <h3 class="col-12">Coding Kids: 8-11yrs</h3>
                <div class="classBox col-12 col-md-6 col-xl-4" ng-repeat="class in classes" ng-if="class.age == '8-11'">
                    <div class="innerClassBox">
                        <div class="classImg" style="background-image:url({{class.img}})"></div>
                        <h4>{{class.name}}</h4>
                        <h5>{{class.subtitle}}</h5>
                        <p>{{class.body | limitTo: 100}}...</p>
                        <a href="#!/classPage" ng-click="pickClass(class)">Learn More</a>
                        <p class="classDay">{{class.day}}</p>
                        <a href="#!/signup">Sign Up</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <h3 class="col-12">Pro Code: 11-16yrs</h3>
                <div class="classBox col-12 col-md-6 col-xl-4" ng-repeat="class in classes" ng-if="class.age == '11-16'">
                    <div class="innerClassBox">
                        <div class="classImg" style="background-image:url({{class.img}})"></div>
                        <h4>{{class.name}}</h4>
                        <h5>{{class.subtitle}}</h5>
                        <p>{{class.body | limitTo: 100}}...</p>
                        <a href="#!/classPage" ng-click="pickClass(class)">Learn More</a>
                        <p class="classDay">{{class.day}}</p>
                        <a href="#!/signup">Sign Up</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <h3 class="col-12">Extra:</h3>
                <div class="classBox col-12 col-md-6 col-xl-4" ng-repeat="class in classes" ng-if="class.age == 'extra'">
                    <div class="innerClassBox">
                        <div class="classImg" style="background-image:url({{class.img}})"></div>
                        <h4>{{class.name}}</h4>
                        <h5>{{class.subtitle}}</h5>
                        <p>{{class.body | limitTo: 100}}...</p>
                        <a href="#!/classPage" ng-click="pickClass(class)">Learn More</a>
                        <p class="classDay">{{class.day}}</p>
                        <a href="#!/signup">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>