<div class="homeWrap" ng-controller="homeCtrl">
    <!-- HERO -->
    <div class="hero">
        <h1>{{general.hero.header}}</h1>

        <p>CODINGKIDS was the greatest adventure.</p>
        <hr>
        <h3>SCHOOL CLOSED.</h3>


        <!-- <a href="#!/announcement">
            <button class="btn1">
                ALL ANNOUNCEMENTS: 2019
            </button>
        </a>
        <p ng-if="user">Welcome, {{profile.username || user.displayName}}
            <br>You are logged in!</p>
        <a href="#!/profile">
            <div ng-if="user" class="heroProfile" ng-show="user.photoURL" style="background-image:url({{user.photoURL}})"></div>
        </a>
        <a href="#!/signup" class="heroSignup">Sign Up</a> -->
    </div>

   
    <!-- BODY -->
    <!-- <div class="sectionWrap s1">
        <div class="sectionInner container">
            <div class="row">
                <div ng-repeat="section in sections" class="col-12 col-md-6 col-xl-4">
                    <div class="innerSection">
                        <h3>{{section.header}}</h3>
                        <h4>{{section.subheader}}</h4>
                        <a href="{{section.link}}">
                            <div class="innerImg" style="background-image: url({{section.img}});"></div>
                        </a>
                        <a href="{{section.link}}">Check it out!</a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- DIGITAL ART GALLERY -->
    <!-- <div class="sectionWrap">
        <div class="sectionInner container">
            <h3>Digital Art by students:</h3>
        </div>
        <div class="displayGallery">
            <div class="displayItem" ng-repeat="item in displayItems | limitTo:6" ng-if="item.publish==true">
                <div class="displayImage" style="background-image: url({{item.url}});">
                    <p>Title: {{item.title}}</p>
                    <p style="display:none">{{item.key}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="sectionWrap s2">
        <div ng-repeat="section in major | limitTo: 6" class="majorSection">
            <div class="majorImg" style="background-image:url({{section.img}})"></div>
            <div class="majorInfo">
                <h3>{{section.header}}</h3>
                <h5>{{section.subheader}}</h5>
                <p>{{section.body}}</p>
                <a href="#!/class">Sign up</a>
            </div>
        </div>
    </div> -->
    <!-- CONTACT US
    <div class="contactWrap columnCenter">
        <form class="contactForm columnCenter" action="https://docs.google.com/forms/u/2/d/e/1FAIpQLScziRmyn6Z8RP3mQtnhJqSoaWxrsw-ABFLh0uDtgyx5iIcdmw/formResponse" method="POST" id="mG61Hd" target="hidden_iframe" onsubmit="newCompany=true;">
            <h3>Contact Us</h3>
            <input type="text" name="entry.1606852843" placeholder="Name:" required>
            <input type="email" name="entry.2011158104" placeholder="Email:" required>
            <textarea name="entry.926722676" placeholder="Enquiry:" required></textarea>
            <input type="submit" name="" value="Submit">
        </form>
    </div> -->
 
</div>
<!-- CONTACT FORM SCRIPT -->
<script type="text/javascript">
var newCompany = false;
</script>
<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(newCompany) {window.location='#!/thank-you'}"></iframe>