<div class="profileWrap" ng-controller="profileCtrl">
    <div class="hero small"></div>
    <div class="notDone container" ng-if="!profile.dob">
        <div class="contactForm profileForm columnCenter">
            <h2>Welcome {{user.displayName}}, to CodingKids!</h2>
            <h4>To register as a student please fill in the details below and press 'Submit'.</h4>
            <input type="text" name="" placeholder="Name:" required ng-model="studentInfo.name">
            <input type="email" name="" placeholder="Email:" required ng-model="studentInfo.email">
            <label>Birthday:</label>
            <input type="date" name="" ng-model="studentInfo.date">
            <input type="text" name="" placeholder="Parent Name:" required ng-model="studentInfo.parent.name">
            <input type="email" name="" placeholder="Parent Email:" required ng-model="studentInfo.parent.email">
            <input type="number" name="" placeholder="Parent Phone:" required ng-model="studentInfo.parent.phone">
            <button ng-click="createStudent(studentInfo, user.uid)" class="submitBtn" ng-show="studentInfo.name && studentInfo.email && studentInfo.date && studentInfo.parent.name && studentInfo.parent.email && studentInfo.parent.phone">Submit</button>
        </div>
    </div>
    <div class="profilePage container-fluid" ng-if="profile.dob">
        <div class="row profileWrapper">
            <div class="profileNav col-12 col-md-3" ng-init="profilePage = 'p1'">
                <div class="profilePimg" style="background-image: url({{user.photoURL}});"></div>
                <p ng-click="profilePage = 'p1'">Profile</p>
                <p ng-click="profilePage = 'p2'; currentQuestion = -1; answers = []; reset()">Quizes</p>
                <p ng-click="profilePage = 'p6'">Material/Links</p>
                <p ng-click="profilePage = 'p7'">Online Coding</p>
                <p ng-click="profilePage = 'p8'; defineButtons()">Gallery</p>
                <p ng-click="profilePage = 'p3'">Feedback <span ng-repeat="item in profile.feedback" ng-show="item.seen == false">new!</span></p>
                <p ng-click="logout()">Logout</p>
            </div>
            <div class="col-1"></div>
            <!-- PROFILE -->
            <div ng-show="profilePage == 'p1'" class="profileBox p1 col-12 col-md-7">
                <h3>{{user.displayName}}</h3>
                <div class="profilePoints" ng-show="profile.points.total">
                    <h4 ng-show="profile.points.total"><span>POINTS:</span> {{profile.points.total}}</h4>
                    <p ng-show="profile.points.HTML"><span>HTML:</span> {{profile.points.HTML}}</p>
                    <p ng-show="profile.points.CSS"><span>CSS:</span> {{profile.points.CSS}}</p>
                    <p ng-show="profile.points.JS"><span>JS:</span> {{profile.points.JS}}</p>
                    <p ng-show="profile.points.JQ"><span>JQ:</span> {{profile.points.JQ}}</p>
                    <p ng-show="profile.points.Bootstrap"><span>Bootstrap:</span> {{profile.points.Bootstrap}}</p>
                </div>
                <div class="profileUserInfo">
                    <div class="profileUserInner" ng-init="edit = false">
                        <h4>YOU:</h4>
                        <p ng-click="edit = !edit" class="edit" ng-show="!edit">edit</p>
                        <p ng-click="edit = !edit" class="edit" ng-show="edit">save</p>
                        <label>
                            Name: <span ng-show="!edit">{{profile.username}}</span>
                            <input ng-show="edit" type="text" ng-model="profile.username" name="">
                        </label>
                        <label>
                            Email: <span ng-show="!edit">{{profile.email}}</span>
                            <input ng-show="edit" type="email" ng-model="profile.email" name="">
                        </label>
                    </div>
                    <div class="profileUserInner" ng-init="edit1 = false">
                        <h4>PARENT:</h4>
                        <p ng-click="edit1 = !edit1" class="edit" ng-show="!edit1">edit</p>
                        <p ng-click="edit1 = !edit1" class="edit" ng-show="edit1">save</p>
                        <label>
                            Name: <span ng-show="!edit1">{{profile.parent.name}}</span>
                            <input ng-show="edit1" type="text" ng-model="profile.parent.name" name="">
                        </label>
                        <label>
                            Email: <span ng-show="!edit1">{{profile.parent.email}}</span>
                            <input ng-show="edit1" type="email" ng-model="profile.parent.email" name="">
                        </label>
                        <label>
                            Phone: <span ng-show="!edit1">{{profile.parent.phone}}</span>
                            <input ng-show="edit1" type="number" ng-model="profile.parent.phone" name="">
                        </label>
                    </div>
                </div>
                <div class="quizResultsWrapper" ng-show="profile.quizes">
                    <h4>Quiz Results</h4>
                    <div ng-repeat="quiz in profile.quizes" class="quizResultLine">
                        <p>{{quiz.name}}</p>
                        <p class="middle">{{quiz.type}}</p>
                        <p class="middle">{{quiz.difficulty}}</p>
                        <p>{{quiz.percent.percent}}%</p>
                        <p ng-show="quiz.percent.percent > 85" ng-class="{'passed': quiz.percent.percent > 85}" class="result">PASSED</p>
                        <p ng-show="quiz.percent.percent <= 85" class="result">INCOMPLETE</p>
                    </div>
                </div>
            </div>
            <!-- AVAILABLE QUIZES -->
            <div ng-show="profilePage == 'p2'" class="profileBox p2 col-12 col-md-7">
                <h3 ng-init="quizFilter = 'all'">Quizes:</h3>
                <div class="quizFilter">
                    <input id="op1" type="radio" name="quiz" value="all" ng-model="quizFilter">
                    <label class="filterLabel" for="op1">ALL</label>
                    <input id="op2" type="radio" name="quiz" value="HTML" ng-model="quizFilter">
                    <label class="filterLabel" for="op2">HTML</label>
                    <input id="op3" type="radio" name="quiz" value="CSS" ng-model="quizFilter">
                    <label class="filterLabel" for="op3">CSS</label>
                    <input id="op4" type="radio" name="quiz" value="JS" ng-model="quizFilter">
                    <label class="filterLabel" for="op4">JS</label>
                    <input id="op5" type="radio" name="quiz" value="JQ" ng-model="quizFilter">
                    <label class="filterLabel" for="op5">JQ</label>
                    <input id="op6" type="radio" name="quiz" value="Bootstrap" ng-model="quizFilter">
                    <label class="filterLabel" for="op6">Bootstrap</label>
                </div>
                <div class="profileQuizWrap" ng-show="profile.student" ng-init="takeQuiz = null">
                    <div class="quizWrap" ng-repeat="quiz in quizes" ng-click="$parent.takeQuiz = quiz; $parent.profilePage = 'p4'" ng-show="quiz.type == quizFilter || quizFilter == 'all'">
                        <p class="quizType {{quiz.type}}">{{quiz.type}}</p>
                        <h3>{{quiz.name}}</h3>
                        <p class="quizDif">{{quiz.difficulty}}</p>
                        <div ng-if="profile.quizes[quiz.id]" class="status">
                            <p ng-show="profile.quizes[quiz.id].percent.percent > 85">P</p>
                            <p ng-show="profile.quizes[quiz.id].percent.percent <= 85">I</p>
                        </div>
                    </div>
                </div>
                <p ng-show="!profile.student">Sorry you havent been verified as a student yet. This material is not available until then. Thanks.</p>
            </div>
            <!-- USEFUL MATERIAL -->
            <div ng-show="profilePage == 'p6'" class="profileBox p2 col-12 col-md-7">
                <h3>Useful Material/Links:</h3>
                <div class="" ng-show="profile.student">
                    <material></material>
                </div>
                <p ng-show="!profile.student">Sorry you havent been verified as a student yet. This material is not available until then. Thanks.</p>
            </div>
            <!-- ONLINE CODING -->
            <div ng-show="profilePage == 'p7'" class="profileBox p2 col-12 col-md-7">
                <h3>Online Coding:</h3>
                <div class="" ng-show="profile.student" ng-init="viewSaved = false;">
                    <button class="workBtn" ng-click="viewSaved = true" ng-show="viewSaved == false">View Saved Work:</button>
                    <button class="workBtn" ng-click="viewSaved = false" ng-show="viewSaved == true">Hide Saved Work:</button>
                    <div class="saveWorkWrap" ng-class="{active: viewSaved}">
                        <p>*Maximum of 5 saved sandboxes.</p>
                        <a href="#!/savedWork" ng-repeat="work in works" ng-click="chosenWork(work)">{{work.name}}</a>
                    </div>
                    <button class="saveWorkBtn" ng-click="saveWork()" ng-show="!workLimit">save</button>
                    <button class="saveWorkBtn void" ng-show="workLimit">save</button>
                    <p ng-show="workLimit">Limit reached on saved works. Recommend deleting projects to make room.</p>
                    <iframe src="/directives/texteditor.html" class="iframeWindow" id="iframeWindow" width="100%"></iframe>
                </div>
                <p ng-show="!profile.student">Sorry you havent been verified as a student yet. This material is not available until then. Thanks.</p>
            </div>
            <!-- Videos -->
            <div ng-show="profilePage == 'p3'" class="profileBox p2 col-12 col-md-7">
                <h3>Feedback:</h3>
                <div class="feedbackWrap">
                    <!-- LOOP FEEDBACK HERE -->
                    <h4>Unread:</h4>
                    <div class="feedback" ng-repeat="item in profile.feedback" ng-show="item.seen == false">
                        <h4>{{item.date}}</h4>
                        <p>{{item.body}}</p>
                        <h5>by: {{item.teacher}}</h5>
                        <button ng-click="seen(profile, item); item.seen = true" class="btn" ng-show="item.seen == false">Seen :)</button>
                    </div>
                    <hr>
                    <h4>Read:</h4>
                    <div class="feedback" ng-repeat="item in profile.feedback" ng-show="item.seen == true">
                        <h4>{{item.date}}</h4>
                        <p>{{item.body}}</p>
                        <h5>by: {{item.teacher}}</h5>
                        <button ng-click="seen(profile, item); item.seen = true" class="btn" ng-show="item.seen == false">Seen :)</button>
                    </div>
                </div>
                <p ng-show="!profile.student">Sorry you havent been verified as a student yet. This material is not available until then. Thanks.</p>
            </div>
            <!-- QUIZ -->
            <div ng-show="profilePage == 'p4'" class="profileBox p2 col-12 col-md-7">
                <h3>Quiz: {{takeQuiz.name}}</h3>
                <showquiz></showquiz>
            </div>
            <!-- GALLERY -->
            <div ng-show="profilePage == 'p8'" class="profileBox p2 col-12 col-md-7">
                <h3 ng-init="uploadA = false">Gallery: Digital Art Uploads</h3>
                <div class="uploadButton green" ng-show="uploadA==false" ng-click="uploadA = !uploadA">+</div>
                <div class="uploadButton red" ng-show="uploadA==true" ng-click="uploadA = !uploadA">-</div>
                <div class="uploadWrap" ng-class="{'active': uploadA}">
                    <label class="upload-group">
                        Choose File
                        <input type="file" name="" id="fileUpload" ng-model="something">
                    </label>
                    <input maxlength="30" type="text" name="" ng-model="aboutImage.title" placeholder="Image title">
                    <textarea ng-model="aboutImage.body" placeholder="About image" maxlength="120"></textarea>
                    <img src="" id="preview">
                    <h2 id='imageName'></h2>
                    <p>** Make sure file size is less then 800kb (0.8mb)!</p>
                    <button ng-show="aboutImage.body && aboutImage.title" type="button" class="saveWorkBtn" ng-click="upload(aboutImage); uploadA = !uploadA">Upload File</button>
                </div>
                <div class="profileGallery">
                    <div class="itemWrap" ng-repeat="item in profile.gallery">
                        <h3>{{item.title}}</h3>
                        <div class="itemImage" style="background-image: url({{item.url}});"></div>
                        <p>{{item.body}}</p>
                        <div class="galleryFunctions">
                            <button ng-click="deleteItem(item)" ng-show="item.publish == false">Delete</button>
                            <button ng-show="item.publish == false" ng-click="publishItem(item)">Publish</button>
                            <button ng-show="item.publish == true" ng-click="unpublishItem(item)">Unpublish</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ANSWERS -->
            <div ng-show="profilePage == 'p5'" class="profileBox p5 col-12 col-md-7">
                <h3>Thank you for finishing the {{typeQuiz.type}} quiz.</h3>
                <h4>Below are your results.</h4>
                <h5 class="percent" ng-class="{'pass': result.percent > 85}">{{result.percent}}%</h5>
                <!-- Pass -->
                <div ng-show="result.percent > 85" class="resultInner">
                    <h6>Congratulations, you passed!</h6>
                    <p>We have added this passed quiz to your progress. Keep it up!
                        <br>
                        <br>When you have completed all the quizes in each section, we would recommend you take the W3C certificates. Check the link below:</p>
                    <a href="https://www.w3schools.com/cert/default.asp">W3C Certifications</a>
                </div>
                <div ng-show="result.percent <= 85" class="resultInner">
                    <h6>Too bad this time!</h6>
                    <p>Why not take a look at some material at W3C to polish up your {{typeQuiz.type}} knowledge? Then take the quiz again :)
                        <br>
                        <br>Learning is a journey, failures are our best lessons!</p>
                    <a href="https://www.w3schools.com/">W3C Schools Online</a>
                </div>
                <div class="answersWrap">
                    <div ng-repeat="item in result.a" class="answerInner" ng-class="{'correct' : item.a }">
                        <p><span>Q{{$index + 1}}</span>{{item.q}}</p>
                        <p class="answer c" ng-show="item.a">Correct</p>
                        <p class="answer i" ng-show="!item.a">Incorrect</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>