<div class="usefulWrap">
	<h3>Downloads/CDNs:</h3>
	<div class="usefulBox" ng-repeat="link in links" ng-if="link.type == 'download'">
		<h4>{{link.name}}</h4>
		<a href="{{link.link}}" target="_blank">Download</a>
		<img src="{{link.img}}" alt="{{link.name}}">
	</div>
</div>
<div class="usefulWrap">
	<h3>HTML Doc:</h3>
	<div class="usefulBox" ng-repeat="link in links" ng-if="link.type == 'HTML'">
		<h4>{{link.name}}</h4>
		<a href="{{link.link}}" target="_blank">Learn more</a>
		<img src="{{link.img}}" alt="{{link.name}}">
	</div>
</div>
<div class="usefulWrap">
	<h3>CSS Doc:</h3>
	<div class="usefulBox" ng-repeat="link in links" ng-if="link.type == 'CSS'">
		<h4>{{link.name}}</h4>
		<a href="{{link.link}}" target="_blank">Learn more</a>
		<img src="{{link.img}}" alt="{{link.name}}">
	</div>
</div>
<div class="usefulWrap">
	<h3>JavaScript Doc:</h3>
	<div class="usefulBox" ng-repeat="link in links" ng-if="link.type == 'JS'">
		<h4>{{link.name}}</h4>
		<a href="{{link.link}}" target="_blank">Learn more</a>
		<img src="{{link.img}}" alt="{{link.name}}">
	</div>
</div>
<div class="usefulWrap">
	<h3>jQuery Doc:</h3>
	<div class="usefulBox" ng-repeat="link in links" ng-if="link.type == 'JQ'">
		<h4>{{link.name}}</h4>
		<a href="{{link.link}}" target="_blank">Learn more</a>
		<img src="{{link.img}}" alt="{{link.name}}">
	</div>
</div>
<div class="usefulWrap">
	<h3>Bootstrap Doc:</h3>
	<div class="usefulBox" ng-repeat="link in links" ng-if="link.type == 'Bootstrap'">
		<h4>{{link.name}}</h4>
		<a href="{{link.link}}" target="_blank">Learn more</a>
		<img src="{{link.img}}" alt="{{link.name}}">
	</div>
</div>