<nav class="container" ng-class="{active: nav}">
    <a href="/">
		<img src="/images/favicons/apple-icon-152x152.png" alt="Codingkids HK Logo">
	</a>
    <a href="#!/home" ng-click="nav = !nav" >HOME</a>
    <a href="#!/class" ng-click="nav = !nav" >CLASSES</a>
    <a href="#!/camps" ng-click="nav = !nav" >CAMPS</a>
    <a href="#!/schedule" ng-click="nav = !nav" >SCHEDULE</a>
    <a href="#!/online" ng-click="nav = !nav" >ONLINE EDU</a>
    <a href="#!/profile" ng-click="nav = !nav" ng-if="user" >PROFILE</a>
    <a href="#!/login" ng-click="nav = !nav" ng-if="!user">LOGIN</a>
    <a href="#!/admin" ng-click="nav = !nav" ng-if="user && profile.role == 'admin'">ADMIN</a>
</nav>
<div class="menu" ng-click="nav = !nav" ng-class="{active: nav}">
    <div class="line line1"></div>
    <div class="line line2"></div>
    <div class="line line3"></div>
</div>